.list_questions {
  margin:20px auto; 
  border-collapse:collapse;
  min-width:900px

}

.list_questions td, th {
  border-top:1px solid #3b88c0;
}

.list_questions th { 
  padding:5px;
  background-color:#3b88c0;
  color:white;
}

.list_questions   td {
  text-align: center;
  padding:20px 0px;
}

#table_question {
  margin:20px; 
  border-collapse:collapse;
}

#table_question td, th {
  padding:10px;
}

#table_question th { 
  padding:5px;
  background-color:#2066ce;
  color:white;
}

#last_row {
  border-left:  none;
  border-right: none;
  border-bottom:none;
}

#titulo {
  text-align:center;
  width:80%;
  max-width: 50px;
  padding:2px;
}

.create_question {
  margin:20px; 
  margin:auto;
  border-collapse:collapse;
}

.create_question, td, th {
  padding:15px;
}

.create_question td {
  width:200px;
}

.create_question th { 
  padding:5px;
  background-color:green;
  color:white;
}
