<div class="title">Tags</div>

<table style="margin-top: 20px;width:1000px;text-align:center">
  <% @tags.in_groups_of(10, false) do |row| %>
    <tr style="width:100px">
      <% for tag in row %>
        <td><%= link_to tag.name, tag_path(tag.name) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
