<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hola <%= @user.name %>!!</h1>
    <p>
      Tu pregunta ha recibido una respuesta.<br/>
    </p>
    <p>
      Para ver la respuesta haz click en este enlace: <%= @url %>.
    </p>
    <p>Gracias!</p>
  </body>
</html>