<div style="width:800px !important;height:40px !important"> 
  <div class="title" style="float:left">
    Editar Pregunta
  </div>

  <div style="margin-left:10px;margin-top:15px;float:left">
    <%= link_to 'Volver', :back, :class => 'boton' %>
  </div>
</div>

<%= render 'form' %>

