<h1 >Editar Pregunta</h1>
<div style="margin-top:10px">
  <%= link_to 'Mostrar', @question, :class => 'boton' %>
  <%= link_to 'Volver', questions_path, :class => 'boton' %>
</div>

<%= render 'form' %>

