<div>
  <div class="title" style="float:left">
    Nueva Pregunta
  </div>
  <div style="margin-left:10px;margin-top:15px;float:left">
    <%= link_to 'Volver', :back, :class => 'boton' %>
  </div>
</div>

<%= render 'form' %>