$border_color : #2a638f;

a {
  text-decoration: none;
  color:black;
  font-weight: bold;
}

a:visited {
  color:black;
}

.boton, input[type="submit"] {
  border:1px solid black;
  border-radius: 5px;
  text-align:center;
  padding:3px;
  background:white !important;
  font-weight: bold;
  font-size: small !important;
}

.fl {
  float:left;
}

#wrapper {
  width: 1000px;
  /*height:100%;*/
  margin:auto;
  margin-top:0;
  margin-bottom: 0;
  background-color : white;
  padding-left:20px;
  padding-right:20px;
  padding-top: 80px;
  padding-bottom:40px;
  border:1px solid $border_color;
  /*border-left:1px solid $border_color;*/
}

html {
  height:100%;
}

body {
  height:100%;
  margin-top:0;

}

header {
  height:70px;
  width: 100%;
  margin-left:-8px;
  position:fixed;
  color:white;

}

#head_title {
  height:40px;
  background: #49a3e2;
  border-bottom: 1px solid $border_color;
}

#head_menu {
  height: 30px;
  width:1000px;
  color:black !important;
  padding-top: 70;
  margin:auto;
  border-right:1px solid #49a3e2;
  border-left:1px solid #49a3e2;
  font-style: italic !important;

}

.nav {
  float: left;
  list-style:none;
  background: white;
  border-left:2px solid $border_color;
  border-bottom:2px solid $border_color;
  padding: 2px 10px 2px 10px;
  font-style:normal;
  font-weight: normal;
}


.nav:hover {
    background: rgba(73,169,226,0.5);
    color: white;
    font-style: italic;
}

#last {
  border-right:2px solid $border_color;
}


header .boton {
  border:none;
  border-radius: 5px;
  text-align:center;
  background-color: white;
  padding:3px;
  font-weight: bold;
  color:#555 !important;
  text-shadow:none !important;
}


h1 {
  margin-left:80px;
  font-style:italic;
  color: #3b88c0;
}

.title {
  margin-left:80px;
  font-style:italic;
  font-size:xx-large;
  font-weight:bold;
  color: #3b88c0;
  border-bottom: 3px solid #3b88c0;
  display: inline-block;
}

.sign {
  border:2px solid $border_color;
  margin-left:325px;
  border-radius:5px;
  width:300px;
  display:inline-block;
  padding:20px;
}